@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", "monospace";
  --font-sans: "Nunito", "sans-serif";
}

button {
  @apply leading-none;
}

@layer components {
  .bg-workspace {
    background-image: radial-gradient(circle at 1px 1px, theme(colors.zinc.700) 1px, transparent 0);
    @apply bg-size-[theme(spacing.6)_theme(spacing.6)]
  } 

  html {
    user-select: none;
  }
}